:root { 
  --black: #000000;
  --brandprimary: #fef86b;
  --deep-teal: #003629;
  --greysclae000: #ffffff;
  --greysclae500: #4b4d53;
  --greysclae600: #23252a;
  --greysclae800: #040509;
  --ui-colorsyellow: #fef86b;
 
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 22px;
  --font-size-xs: 12px;
  --font-size-xxl: 55px;
  --font-family-montserrat: "Montserrat", Helvetica;
}
* {
  font-family: var(--font-family-montserrat) !important;

}
body {
  font-family: var(--font-family-montserrat);
}
.titlesmallreg {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.paragraphbold {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.inter-normal-shark-16px {
  color: var(--greysclae600);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-16px {
  color: var(--black);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-cod-gray-55px {
  color: var(--greysclae800);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.border-1px-black {
  border: 1px solid var(--black);
}
